<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Genrax.API</title>
	<link rel="stylesheet" href="static/css/style.css">
</head>


<body>

	<!-- partial:index.partial.html -->
	<div class="form-structor">

		<div class="nameplate">
			<span class="main">Genrax.API</span>
			<span class="version">v.1.4</span>
		</div>

		<div class="upload">
			<h2 class="form-title" id="signup"><span>or</span>Upload</h2>

			<form action="file-upload" method="post" enctype="multipart/form-data">
				<div class="form-holder">
					<div class="wrapper">
						<div class="file-upload">
						  <input type="file" name="file"/>
						  <span>Upload File</span>
						</div>
					</div>
				</div>
				<button class="submit-btn">Submit</button>
			</form>

		</div>


		<div class="url slide-up">
			<div class="center">
				<h2 class="form-title" id="login"><span>or</span>URL</h2>

				<form action="url-upload" method="post">
					<div class="form-holder">
						<input type="url" name="url" class="input" placeholder="Music URL" required=""/>
					</div>
					<button class="submit-btn">Submit</button>
				</form>


			</div>
		</div>



	</div>
	<!-- partial -->
  	<script  src="static/js/script.js"></script>

</body>
</html>
